.title {
    text-align: center;
    font-size: 5rem;
    margin-top: -1rem;
    color: white;
    border: #000;
    background: #f59e0b;
}
.x {
    text-align: center;
    font-size: 5rem;
    margin-top: -1rem;
    border: #000;
    background: #f59e0b;
    color:#4d4d4d;
} 

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}